aclocal.m4
autom4te.cache
config.*
configure
.deps
.dirstamp
INSTALL
.libs
libtool
m4/
Makefile.in
Makefile
parse/Makefile.in
parse/Makefile
parse/coord-config-lex.c
parse/coord-config-parse.c
parse/coord-config-parse.h
parse/coord-config-parse.output
misc/
stamp*
TAGS

*~
*.a
*.o
*.la
*.lo
*.pyc
*.so
*.swp
*.tar.gz

coordinator
iz
izattach
izchat
izconfig
izcoordinator
izlisten
serial
listen
listen-packet
parsetest
debian/*.debhelper.log
debian/*.substvars
debian/liblowpan-dev
debian/tmp
debian/lowpan-tools
debian/files

