aclocal.m4
autom4te.cache
config.*
configure
.deps
.dirstamp
INSTALL
.libs
libtool
m4/
Makefile.in
Makefile
misc/
*stamp*
TAGS

*~
*.1
*.8
*.a
*.o
*.la
*.lo
*.pyc
*.so
*.swp
*.tar.gz

addrdb/coord-config-lex.c
addrdb/coord-config-parse.c
addrdb/coord-config-parse.h
addrdb/coord-config-parse.output

tests/*
!tests/*.c
!tests/Makefile.am

coordinator
iz
izattach
izchat
izcoordinator
izlisten
serial
listen
listen-packet
parsetest

debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/liblowpan-dev
debian/tmp
debian/lowpan-tools
debian/files

