aclocal.m4
autom4te.cache
config.*
configure
.deps
.dirstamp
INSTALL
.libs
libtool
m4/
Makefile.in
Makefile
misc/
stamp*
TAGS

*~
*.a
*.o
*.la
*.lo
*.pyc
*.so
*.swp
*.tar.gz

coordinator
iz
izattach
izchat
izconfig
izcoordinator
izlisten
serial
listen
listen-packet
