Source: lowpan-tools
Section: net
Priority: extra
Maintainer: Dmitry Eremin-Solenikov <dbaryshkov@gmail.com>
Build-Depends: debhelper (>= 6), autotools-dev, python-central, libnl-dev, bison, flex
Standards-Version: 3.8.1
Homepage: http://linux-zigbee.sourceforge.net/
XS-Python-Version: all

Package: lowpan-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
XB-Python-Version: ${python:Version}
Provides: ${python:Provides}
Recommends: python
Description: Base programs for LoWPAN in Linux, the net-tools for LoWPAN
 This package provides all basic prorgrams needed for setting up, monitoring
 and tuning LoWPAN networks.
 .
 Notice that upstream still flags these tools as experimental software and
 says that there is still a number of known bugs and issues. The
 software is, however, in productive use at a number of sites and is
  working reliably

Package: liblowpan-dev
Architecture: all
Section: libdevel
Depends: ${misc:Depends}
Description: Include files and examples for writing programming for LoWPAN
 This package contains several include files to help in development of new
 programs for LoWPAN.
 .
 Also it includes several examples of code using those headers.

